<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit Station</h3>
    <div data-ng-include="'views/common/menu-top-panel.html'"></div>
</div>
<div class="modal-body">
  	<form class="form-horizontal" role="form" name="stationForm" >
  		<div class="form-group">
  			<label class="col-sm-2 text-uppercase control-label">Station Name <span class="require">*</span></label>
  			<div class="col-sm-10">
  				<input type="text" class="form-control" name="name" ng-model="station.name" required="required"></input>
  			</div>
  		</div>
  		<div class="form-group">
  			<label class="col-sm-2 text-uppercase control-label">Latitude <span class="require">*</span></label>
  			<div class="col-sm-10" >
  				<input type="text" class="form-control" name="lat" ng-model="station.lat" required="required"></input>
  			</div>
  		</div>  	
  		<div class="form-group">
  			<label class="col-sm-2 text-uppercase control-label">Longitude <span class="require">*</span></label>
  			<div class="col-sm-10" >
  				<input type="text" class="form-control" name="lng" ng-model="station.lng" required="required"></input>
  			</div>
  		</div>
  		<div class="form-group">
  			<label class="col-sm-2 text-uppercase control-label">Type <span class="require">*</span></label>
  			<div class="col-sm-10" >
  				<input type="text" class="form-control" name="type" ng-model="station.type" required="required"></input>
  			</div>
  		</div>
  		<div class="form-group">
  			<label class="col-sm-2 text-uppercase control-label">Price <span class="require">*</span></label>
  			<div class="col-sm-10" >
  				<input type="text" class="form-control" name="price" ng-model="station.price" required="required"></input>
  			</div>
  		</div>  		  		   	
        <div class="form-group">
        	<label class="col-sm-2 text-uppercase control-label">is Extend? <span class="require">*</span></label>
        	<div class="col-sm-10" >
				<select class="form-control" name="extend" 
						required="required"
						ng-model="station.extend"
						ng-options="e.value as e.label for e in extendType">
					<option value="">==Select==</option>
				</select>         		
        	</div>
        </div>   				
  	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-disabled="!stationForm.$valid" ng-click="saveStation()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>