<div class="p-x">
  <div class="row">
  	
  </div>
  <br>
  <div class="row">
 	<div ng-repeat="s in stations" ng-click="openModal(s.id)">
 	
	    <div class="col-md-2 col-lg-2">
	    	<a>
		      <div class="card card-block no-border bg-white-light col-md-12">
		      	<div class="col-md-12">
					<p class="card-title" style="white-space:nowrap;"><b>&nbsp;{{s.name}}</b></p>
					
					<p class="card-text">&nbsp;{{s.type}}</p>
					
					<p class="card-text">&nbsp;{{s.lat}},{{s.lng}}</p>
	 	
		      	</div>
		      </div>		    	
	    	</a>
	    </div>
	    
 	</div>
  </div>
</div>
